<h3>Hi, <%= @user.first_name %></h3>

<div class="row">
  <%= render "upcoming_gifts" %>
  <%= render "ordered_gifts" %>
</div>

<h5>Recipient View | Calendar View</h5>
  <ul class="collection">
    <% @user.recipients.each do |recipient| %>
      <li class="collection-item avatar">
        <img src="images/yuna.jpg" alt="" class="circle">
        <span class="title"><strong><%= link_to "#{recipient.first_name} #{recipient.last_name}", recipient_path(recipient) %></strong></span>
        <p> Next Event: <%= nextEvent(recipient).occasion %><br>
          <%= nextEvent(recipient).calendar_date.strftime("%B %d, %Y") %>
        </p>
        <button class="btn"><i class="material-icons">add</i> Gift Idea</button>
      </li>
    <% end %>
    <li>
      <%= link_to "New Recipient" %>
    </li>
  </ul>
