<h3>Hi, <%= @user.first_name %></h3>
<table>
  <thead>
    <tr>
      <td><h5>Time to choose a gift!</h5></td>
    </tr>
  </thead>
  <tbody>
    <% @user.recipients.each do |recipient| %>
      <% recipient.events.each do |event| %>
        <tr>
        <% if event.calendar_date < 14.days.from_now %>
          <td>
            <%= recipient.first_name %>'s <%= event.occasion %>
          </td>
          <td>
            <%= link_to "view gift choices" %>
          </td>
        <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <td><h5>Ordered Gifts</h5></td>
    </tr>
  </thead>
  <tbody>
    <% @user.recipients.each do |recipient| %>
      <% recipient.events.each do |event| %>
        <% event.orders.each do |order| %>
          <tr>
          <!-- <% if !order.confirmed_delivery %> -->
            <td>
              <%= recipient.first_name %>'s <%= event.occasion %>
            </td>
            <td>
              <%= order.tracking_number %>
            </td>
            <td>
              <%= link_to "Confirm Receipt" %>
            </td>
          <!-- <% end %> -->
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
