<div class="section">
  <div class="edit-heading col s12">
    <h2>Editing <%= @recipient.first_name %> </h2>
  </div>

  <div class="row">
    <div class="col s12 m9 l10" id="edit-recipient">
      <div id="traits" class="section scrollspy">
        <%= render "traits/trait_form" %>
      </div>
      <div id="age" class="section scrollspy">
        <%= render "traits/age_form" %>
      </div>
      <div id="price" class="section scrollspy">
        <%= render "traits/price_form" %>
      </div>
      <div id="shipping" class="section scrollspy">
        <%= render "shipping_form" %>
      </div>
    </div>
    <div class="col hide-on-small-only m3 l2">
      <ul class="section table-of-contents fixed">
        <li><a href="#traits">Interests</a></li>
        <li><a href="#age">Age Range</a></li>
        <li><a href="#price">Price Preferences</a></li>
        <li><a href="#shipping">Shipping Address</a></li>
      </ul>
    </div>
  </div>
</div>
