<h4>Payment for <%= @recipient.first_name %>'s gift</h4>
<div class="row">
  <%= render "./gifts/chosen_gift" %>
  <div class="col s12 m7">
    <div class="card">
      <div class="card-content">
        <h5 class="col s12"><strong>Summary</strong></h5>
        <div class="col s7">Item total</div>
        <div class="col s5"><%= number_to_currency(@gift.price) %></div>
        <div class="col s7">Shipping</div>
        <div class="col s5"><%= number_to_currency(3.99) %></div>
        <strong><div class="col s7">Grand total</div>
        <div class="col s5"><%= number_to_currency(@amount) %></div></strong>
        <%= render "stripe" %>
      </div>
    </div>
  </div>
</div>
