<!DOCTYPE html>
<html>
  <head>
    <title>Gifter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Diplomata+SC|Marcellus|Prata|Righteous|Sacramento" rel="stylesheet">

  </head>

  <body>
    <%= render "layouts/nav" %>

    <% flash.each do |name,msg| %>
      <script type="text/javascript">
        Materialize.toast('<%= msg %>', 4000)
      </script>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
